<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <!-- pluralize принимает целочисленный аргумент и возвращает его
      с правильной версией множественного числа второго аргумента -->
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>